<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: head">
</head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <br> </br>

    <h3>Projects List</h3>
    <hr>

    <a th:href="@{/projects/new}"
       class="btn btn-dark btn-sm mb-3">
        New Project
    </a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Project Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aProject : ${projects}">
            <td th:text="${aProject.projectName}"/>
        </tr>
        </tbody>

    </table>
</div>
</body>

</html>